[defaults]
inventory = inventory.ini
vault_password_file = ./vault_passwd
stdout_callback = yaml
# for first time connect over ssh
host_key_checking = False
# do not gather facts by default
gathering = explicit
