[defaults]
inventory = inventory.ini
vault_password_file = ./vault_passwd
stdout_callback = yaml
host_key_checking = False # for first time connect over ssh
gathering = explicit # do not gather facts by default
